@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: fixed;
    background-image: linear-gradient(157deg, #ffffff, #b0b0b0c4);
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: flex;
}
.left-content,.right-content{
    flex-basis: 50%;
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,0.5fr));
    grid-gap:2rem;
}
.card{
    width: 300px;
    position: relative;
    height: 180px;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 24px 1.5rem 15px 1.5rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top:100px;
    right: 10px;
}
.right-content img{
    margin: 1.5rem;
    height: 170px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.thumb-img {
    bottom: 0;
    position: absolute;
    bottom: 0;
    width: 150px;
    right: 0;
}
.order{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #00000032;
}

.abilities .group{
    background-color: #6e6e6e;
    color: white;
    padding: 0.6rem;
    font-size: 12px;
    border-radius: 20px;
    margin-left: 1rem;
}
.abilities-left {
    width: 60%;
    display: grid;
    text-align: left;
}
.abilities-left .group {
    padding-top: 16px;
}
.abilities-left span{
    background-color: #0000003b;
    color: white;
    padding: 0.4rem;
    font-size: 13px;
    border-radius: 40px;
}
.base-stat{
    margin-top: 2rem;
}
td{
    text-align: right;
}
.btn-group{
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    width: 41rem;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #8e8fa0;
    border-radius: 20px;
}

.progress {
    margin: 7px auto;
    padding: 0;
    width: 90%;
    height: 15px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 6px;
}

.bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 120%;
    background: cornflowerblue;
}

.rock {
    background-color: rgb(148, 81, 81);
}

.ghost {
    background-color: rgb(247, 247, 247);
}

.electric {
    background-color: rgb(255, 255, 161);
}

.bug {
    background-color: #F6D6A7;
}

.poison {
    background-color: #e0a7f6;
}

.normal {
    background-color: #F4F4F4;
}

.fairy {
    background-color: rgba(255, 192, 203, 0.863);
}

.fire {
    background-color: #FBE3DF;
}

.grass {
    background-color: #E2F9E1;
}

.water {
    background-color: #E0F1FD;
}